<p>Os convites foram enviados com sucesso!</p>

<p>Se houver algum problema peço que abras um <a href="https://github.com/daniel-sousa-me/dropbox-auto-share/issues" target="_blank">Issue</a> no link</p>
