<!DOCTYPE html>
<html>
<head>
  <title>DropboxAutoShare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>Código fonte: <a href="https://github.com/daniel-sousa-me/dropbox-auto-share" target="_blank">https://github.com/daniel-sousa-me/dropbox-auto-share</a></p>
<p>Para reportar bugs ou dar sugestões: <a href="https://github.com/daniel-sousa-me/dropbox-auto-share/issues" target="_blank">https://github.com/daniel-sousa-me/dropbox-auto-share/issues</a></p>
<hr />

<%= yield %>

<script type="text/javascript">
  function Toggle(id){
    var e = document.getElementById(id);
    if(e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }
</script>

</body>
</html>
